name: Test

on:
  pull_request:
  push:
  workflow_dispatch:

permissions: { }

defaults:
  run:
    shell: bash

jobs:
  test-local:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies (macOS)
        if: runner.os == 'macOs'
        run: brew install bash shellcheck
      - name: Install dependencies (win)
        if: runner.os == 'Windows'
        run: choco install shellcheck yq
      - name: Run tests
        run: test/test.sh --debug
      - name: Check action
        run: ./check-run-scripts.sh --debug action.yaml
      - name: Check workflows
        run: ./check-run-scripts.sh --debug
    strategy:
      matrix:
        os: &matrix-os
          - macos-14
          - macos-15
          - macos-26
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - windows-11-arm
          - windows-2022
          - windows-2025
      fail-fast: false

  test-action:
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies (macOS)
        if: runner.os == 'macOs'
        run: brew install bash shellcheck
      - name: Install dependencies (win)
        if: runner.os == 'Windows'
        run: choco install shellcheck yq
      - name: Check defaults
        uses: ./
        with:
          debug: true
      - name: Check specific paths
        uses: ./
        with:
          paths: |-
            .github/workflows
            action.yaml
          debug: true
      - name: Check trailing newline # ie if someone forgets the `-` in `|-`.
        uses: ./
        with:
          paths: | # No chomp indicator.
            .github/workflows
            action.yaml
          debug: true
      - name: Check overriding most options # Not actually testing their effects.
        uses: ./
        with:
          paths: |-
            .github/workflows
            action.yaml
          check-sourced: false
          include: SC1000,SC1001
          exclude: SC2016,SC2310
          external-sources: false
          # rc-file:
          source-path: |-
            .github
            .github/workflows
            test
          shell: bash
          severity: info
          debug: true
    strategy:
      matrix:
        os: *matrix-os
      fail-fast: false

  test-external:
    runs-on: ${{ matrix.os }}
    env:
      MATRIX_REPO: ${{ matrix.repo }}
      MATRIX_VARS: ${{ matrix.vars }}
    steps:
      - uses: actions/checkout@v6
        with:
          path: self
      - uses: actions/checkout@v6
        with:
          repository: ${{ matrix.repo }}
          path: ${{ matrix.repo }}
      - name: Install dependencies (macOS)
        if: runner.os == 'macOs'
        run: brew install bash shellcheck
      - name: Install dependencies (win)
        if: runner.os == 'Windows'
        run: choco install shellcheck yq
      - name: Check workflows
        run: ./self/check-run-scripts.sh --debug ${MATRIX_VARS:+--set="${MATRIX_VARS}"}  "${MATRIX_REPO}"
      - name: Check action
        run: |
          [[ ! -e "${MATRIX_REPO}/action.yaml" ]] ||
            ./self/check-run-scripts.sh --debug ${MATRIX_VARS:+--set="${MATRIX_VARS}"} "${MATRIX_REPO}/action.yaml"
    strategy:
      matrix:
        os: *matrix-os
        repo: # Just some public repos that depend on this project.
          - pcolby/check-run-scripts
          - pcolby/connectiq-sdk-manager
          - pcolby/dokit
          - pcolby/install-linuxdeploy
          - pcolby/nfc-quick-settings
          - pcolby/tap-summary
        include:
          - { repo: pcolby/dokit, vars: 'QT_ROOT_DIR,RUNNER_WORKSPACE' }
          - { repo: pcolby/install-linuxdeploy, vars: INSTALL_DIR }
          - { repo: pcolby/tap-summary, vars: EXTRA_DIFF_ARGS }
      fail-fast: false
